In [1]:
import numpy as np

#check the version
print(np.__version__)

1.26.4

In [2]:
#Create a 1-dimensional array
a1 = np.array([1, 2, 3])

#Creaet a 2-dimensional array
a2 = np.array([[1, 2, 3], [4, 5, 6]])

#Create a 3-dimensional array
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]], 
                    [[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]]])

print(a1.ndim)
print(a2.ndim)
print(a3.ndim)
a3.shape
a3.dtype
a3.size

1
2
3

18

In [3]:
import pandas as pd

df = pd.DataFrame(np.random.randint(10000, size=(5, 3)), columns=['a', 'b', 'c'])
df

      a     b     c
0  2006  8553  3911
1  1788  5652  6938
2   326   535  2767
3  3826  4003  7119
4  7784  3864  8436

In [4]:
ones = np.ones((10, 2))
ones

zero = np.zeros((10, 2))
zero

one_int = ones.astype(int)
one_int

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [6]:
arry1 = np.random.random((5, 20))
arry1

array([[0.2804804 , 0.22007942, 0.0920774 , 0.56033275, 0.75570986,
        0.07186282, 0.4719777 , 0.96947914, 0.05629939, 0.56794642,
        0.95987404, 0.55021591, 0.65843572, 0.69503545, 0.76914678,
        0.24894306, 0.23892361, 0.84463908, 0.49219531, 0.54733406],
       [0.57727164, 0.76096858, 0.61043624, 0.79140814, 0.95193129,
        0.04129656, 0.10985506, 0.03497347, 0.27145129, 0.11808408,
        0.59434392, 0.68677974, 0.26113868, 0.97577948, 0.2375084 ,
        0.07442625, 0.40607599, 0.83039639, 0.41340355, 0.31451308],
       [0.5983507 , 0.09175349, 0.2290872 , 0.46135663, 0.64804808,
        0.74205257, 0.63091249, 0.67320293, 0.23202657, 0.44552565,
        0.04202579, 0.0376691 , 0.48020538, 0.41493015, 0.88371859,
        0.35403359, 0.20111283, 0.9840807 , 0.46346338, 0.18956023],
       [0.63989516, 0.60903857, 0.62851466, 0.25564633, 0.77144208,
        0.63166266, 0.90744343, 0.92957701, 0.27097847, 0.8207431 ,
        0.94784311, 0.92825284, 0.36215449, 0.87787093, 0.87610153,
        0.6506313 , 0.96582635, 0.12450279, 0.33342259, 0.99683981],
       [0.63936065, 0.25144883, 0.16030112, 0.02133828, 0.35575317,
        0.20534598, 0.74920117, 0.04847779, 0.55219297, 0.11620093,
        0.24809136, 0.29506747, 0.06815468, 0.16267892, 0.49950776,
        0.74612947, 0.13661653, 0.17675038, 0.6287681 , 0.10771878]])